<div class="container">
  <div class="left-menu">
    <ul>
      <li routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</li>
      <li routerLink="/about" routerLinkActive="active">About</li>
      <li routerLink="/body" routerLinkActive="active">Body</li>
      <li [routerLink]="['/form']" routerLinkActive="active">Form</li>
      <li [routerLink]="['/form2']" routerLinkActive="active">Form-with-httpClient</li>
      <li [routerLink]="['/comm']" routerLinkActive="active">Comm</li>
      <li [routerLink]="['/annie']" routerLinkActive="active">Annie</li>
      <li [routerLink]="['nested']" routerLinkActive="active">Nested</li>
      <li [routerLink]="['guard']" routerLinkActive="active">Guard</li>
      <li [routerLink]="['pipe']" routerLinkActive="active">Pipe</li>
      <li [routerLink]="['hello']" routerLinkActive="active">hello-loadChildren</li>
      <li [routerLink]="['china']" routerLinkActive="active">china-import-module</li>
      <li [routerLink]="['demos']" routerLinkActive="active">demo-shared-module</li>
    </ul>
  </div>
  <div class="right-content">
      <router-outlet>
        <div class="wrapper" *ngIf="guard.loading === 1">
          <i class="fa fa-spinner fa-pulse"></i>
        </div>
      </router-outlet>
  </div>
</div>

