.container{
    display: flex;
    flex-direction: row;
    width: 600px;
    padding: 20px;
    justify-content: space-around;
}


.left-menu{
    display: flex;
    width: 200px;
    height: 400px;
    background-color: bisque;
}

.content-part{
    display: flex;
    width: 500px;
    height: 400px;
    background-color: azure;
}