.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

button{
    display: flex;
    padding:5px;
    margin: 4px;
    width: 140px;
    justify-content: center;
}
button.active{
    background:rgb(43, 2, 121);
    color:white;
}